<!-- add-customer.component.html -->

<div class="container mt-4 custom-modal">
    <h3>Add Customer</h3>
  
    <!-- Title Input -->
    <div class="form-group" class="mr-top">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" placeholder="Enter title">
    </div>
  
    <!-- Email Input -->
    <div class="form-group mr-top">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email">
    </div>
  
    <!-- Region Input (using ngx-select-ex) -->
    <div class="form-group mr-top">
      <label for="region">Region</label>
      <ngx-select ></ngx-select>
    </div>
  
    <!-- Country Input (using ngx-select-ex) -->
    <div class="form-group mr-top">
      <label for="country">Country</label>
      <ngx-select ></ngx-select>
    </div>
  
    <!-- Add Customer Button -->
    <button type="button" class="btn btn-primary mr-top">Add Customer</button>
  </div>
  