.mr-top {
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Inside your styles.css or styles.scss */
.custom-modal {
    max-width: 80%;
    /* Adjust the width as needed */
}

input[type="file"] {
    visibility: hidden;
  }

.align-radio {
    display: flex;
}

.mr-right {
    margin-right: 25px;
}

.image-preview {
    height: 5rem;
    margin: 1rem 0;
  }
  
  .image-preview img {
    height: 100%;
  }